

body {
}

.flex {
}

.grid {
}

.box {
  background-color: deeppink;
  color:white;
  border-width: 5px;
  border-style:solid;
  border-color:dodgerblue;
  margin-bottom:40px;
  padding:40px;
  text-align:center;
}
