
body {
  padding:20px;
}

.flex {
  border: solid black 3px;
}

.flex-center {
  padding:30px;
  border: solid black 3px;
}

.grid {
  border: solid black 3px;
}

.box {
  background-color: deeppink;
  color:white;
  border-width: 5px;
  border-style:solid;
  border-color:dodgerblue;
  margin-bottom:40px;
  padding:40px;
  text-align:center;
}
